FlowCervignano.json
[{"id":"2d8d56ea.30e52a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89e4618d.848e9","type":"rpi-dht22","z":"2d8d56ea.30e52a","name":"","topic":"DHT2201","dht":"22","pintype":"1","pin":"11","x":320,"y":280,"wires":[["9e2ddc26.64b9e","ce1918b1.3f19b8"]]},{"id":"bac3a4e0.cc40f8","type":"inject","z":"2d8d56ea.30e52a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["89e4618d.848e9"]]},{"id":"5b82cb5e.ebcf64","type":"rpi-gpio out","z":"2d8d56ea.30e52a","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1160,"y":120,"wires":[]},{"id":"dc379bc9.8c30b8","type":"ui_switch","z":"2d8d56ea.30e52a","d":true,"name":"","label":"Caldaia on/off","tooltip":"","group":"1776b33c.bc81ad","order":1,"width":"6","height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":960,"y":200,"wires":[["5b82cb5e.ebcf64"]]},{"id":"bca496e9.176908","type":"GetEvent","z":"2d8d56ea.30e52a","google":"","calendarId":"a44cn24vlebdc0k9r0rkrvl3ec@group.calendar.google.com","time":"01/30/2021 12:00 AM - 01/30/2021 11:59 PM","x":520,"y":120,"wires":[["6dd55020.0e6d"]]},{"id":"98012252.ce08e","type":"inject","z":"2d8d56ea.30e52a","name":"","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":160,"y":120,"wires":[["77803311.ea9e5c"]]},{"id":"6dd55020.0e6d","type":"function","z":"2d8d56ea.30e52a","name":"","func":"node.warn(msg)\nif(msg.payload.length > 1){\n    return node.send({payload:true})\n}\nreturn node.send({payload:false})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":120,"wires":[["5b82cb5e.ebcf64","dc379bc9.8c30b8"]]},{"id":"77803311.ea9e5c","type":"function","z":"2d8d56ea.30e52a","name":"","func":"msg.payload = {\n    timemax: new Date().getTime()+60*1000,\n    timemin: new Date().getTime()\n}\n\nmsg.calendarId = 'a44cn24vlebdc0k9r0rkrvl3ec@group.calendar.google.com'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["bca496e9.176908"]]},{"id":"40b6fcd6.2b7f64","type":"ui_gauge","z":"2d8d56ea.30e52a","name":"","group":"fd00254e.6bb6b8","order":2,"width":"3","height":"2","gtype":"wave","title":"","label":"°c","format":"{{value}}","min":"-10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":240,"wires":[]},{"id":"6519e2df.2020dc","type":"ui_gauge","z":"2d8d56ea.30e52a","name":"","group":"fd00254e.6bb6b8","order":1,"width":"3","height":"2","gtype":"donut","title":"","label":"%","format":"{{msg.humidity}}","min":"0","max":"100","colors":["#d9b3ff","#a650fb","#8000ff"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"652550e3.b6067","type":"ui_template","z":"2d8d56ea.30e52a","group":"b3b3294e.d41038","name":"","order":1,"width":8,"height":8,"format":"<iframe src=\"https://24timezones.com/free-clocks/get-code-analog?location=c1257&size=410&bgcolor=FF9900&language=it&anchor_text=&user_website=&preview=1\" style=\"border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"445px\" width=\"auto\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":320,"y":40,"wires":[[]]},{"id":"ac8ca5eb.86a7c8","type":"ui_chart","z":"2d8d56ea.30e52a","name":"","group":"426db48c.22327c","order":1,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH","interpolate":"bezier","nodata":"Temperatura","dot":true,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":360,"wires":[[]]},{"id":"4c2b5a3a.3a7f34","type":"ui_template","z":"2d8d56ea.30e52a","group":"77baa91f.8c3638","name":"","order":1,"width":"3","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":680,"wires":[[]]},{"id":"53e3f051.605bc","type":"GetEvent","z":"2d8d56ea.30e52a","google":"","calendarId":"a44cn24vlebdc0k9r0rkrvl3ec@group.calendar.google.com","time":"01/30/2021 12:00 AM - 01/30/2021 11:59 PM","x":500,"y":680,"wires":[["b4ee0824.55cc48"]]},{"id":"c308d54f.3035c8","type":"inject","z":"2d8d56ea.30e52a","name":"","props":[{"p":"payload.timemax","v":"","vt":"date"},{"p":"payload.timemin","v":"","vt":"date"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":680,"wires":[["4af321b4.e5a6b"]]},{"id":"4af321b4.e5a6b","type":"function","z":"2d8d56ea.30e52a","name":"","func":"msg.payload = {\n    timemax: new Date().getTime()+24*60*60*1000,\n    timemin: new Date().getTime()\n}\n\nmsg.calendarId = 'a44cn24vlebdc0k9r0rkrvl3ec@group.calendar.google.com'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":680,"wires":[["53e3f051.605bc"]]},{"id":"b4ee0824.55cc48","type":"function","z":"2d8d56ea.30e52a","name":"","func":"if(msg.payload.length > 1){\n    var container = []\n    msg.payload.forEach((item)=>{\n        if(item.Title != undefined){\n            container.push(`<p>${item.Title} - ${item.StartDate.split(' ')[1]} -> ${item.EndDate.split(' ')[1]}</p>`)\n        }\n    })\n    return {\"payload\": container}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":680,"wires":[["4c2b5a3a.3a7f34"]]},{"id":"cfd38e8b.b94ae","type":"function","z":"2d8d56ea.30e52a","name":"","func":"var count = global.get('count') || 0\n\nnode.log(count, false)\n\ncount++;\n\nglobal.set('count', count)\n\nif(count % 10 == 0){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":300,"wires":[["ac8ca5eb.86a7c8"]]},{"id":"63b4a540.76dd6c","type":"comment","z":"2d8d56ea.30e52a","name":"","info":"Orologio in IFRAME","x":460,"y":40,"wires":[]},{"id":"6633814.33c838","type":"ui_svg_graphics","z":"2d8d56ea.30e52a","group":"77baa91f.8c3638","order":2,"width":"3","height":"3","svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" id=\"圖層_1\" x=\"0\" y=\"0\" viewBox=\"0 0 100 100\" xml:space=\"preserve\"><g><path d=\"M41.6 91.6c-7.3-1.4-15-5.7-19.9-11s-6.4-13.1-2.6-18.9c1.2-1.8 2.9-3.5 3.8-5.4 2.5-5.1-.5-11.1.5-16.6 1.2-6.3 7.4-10.9 13.2-14.8-.9 3.2.5 6.8 3.4 8.9.8.6 1.8 1.1 2.8.9.7-.1 1.3-.5 1.8-.9 3.2-2.6 4.6-6.5 4.5-10.3-.1-3.8-1.5-7.5-3.2-11-.6-1.2-2-3.4-2.7-5 1.3-.1 4.8 1.1 5.8 1.4 8.6 2.8 15.8 8.7 19.5 16.1 3.7 7.4 3.8 16 .4 23.4-1.5 3.3-3.7 6.3-4.3 9.8-.1.6-.2 1.3.1 1.9.9 2.1 4.4 1.9 6.7.9 3.2-1.5 5.9-4 7.4-6.9 4.7 6.6 5.6 15.1 2.3 22.2S70.4 88.9 61.9 91c-7.5 1.7-13 2-20.3.6z\" fill=\"#e15b64\"/></g><path d=\"M49.2 55.9c-6.4 3.4-10.7 9.9-10.7 17.4 0 1.9.3 3.8.8 5.5 2.9 9.5 16.9 9.5 19.7 0 .5-1.8.8-3.6.8-5.5.1-7.5-4.2-14-10.6-17.4z\" fill=\"#f8b26a\"/><metadata xmlns:d=\"https://loading.io/stock/\"><d:name>fire</d:name><d:tags>flame,flare,burn,scorch,fire,weather</d:tags><d:license>pro</d:license><d:slug>4gk7gh</d:slug></metadata></svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"name":"","x":340,"y":80,"wires":[[]]},{"id":"9e2ddc26.64b9e","type":"smooth","z":"2d8d56ea.30e52a","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":false,"x":540,"y":240,"wires":[["5e71e522.3e417c"]]},{"id":"ce1918b1.3f19b8","type":"smooth","z":"2d8d56ea.30e52a","name":"","property":"humidity","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":540,"y":280,"wires":[["6519e2df.2020dc"]]},{"id":"5e71e522.3e417c","type":"function","z":"2d8d56ea.30e52a","name":"Taratura termometro","func":"msg.payload = msg.payload - 2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":240,"wires":[["40b6fcd6.2b7f64","cfd38e8b.b94ae"]]},{"id":"c6a590b1.a7d0c","type":"inject","z":"2d8d56ea.30e52a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":180,"wires":[["89e4618d.848e9"]]},{"id":"1776b33c.bc81ad","type":"ui_group","name":"Container Buttons","tab":"8bf634a2.e5bcb8","order":2,"disp":false,"width":"6","collapse":false},{"id":"fd00254e.6bb6b8","type":"ui_group","name":"Container Umidità","tab":"8bf634a2.e5bcb8","order":4,"disp":false,"width":"6","collapse":false},{"id":"b3b3294e.d41038","type":"ui_group","name":"Container Clock","tab":"8bf634a2.e5bcb8","order":1,"disp":false,"width":"8","collapse":false},{"id":"426db48c.22327c","type":"ui_group","name":"Container grafico","tab":"8bf634a2.e5bcb8","order":5,"disp":false,"width":"6","collapse":false},{"id":"77baa91f.8c3638","type":"ui_group","name":"Container lista eventi calendario","tab":"8bf634a2.e5bcb8","order":3,"disp":false,"width":"6","collapse":false},{"id":"8bf634a2.e5bcb8","type":"ui_tab","name":"Casa cervignano","icon":"dashboard","order":2,"disabled":false,"hidden":false}]