termoNodeRed
[
    {
        "id": "91b55355.fcef2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1776b33c.bc81ad",
        "type": "ui_group",
        "name": "Container Buttons",
        "tab": "8bf634a2.e5bcb8",
        "order": 2,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "fd00254e.6bb6b8",
        "type": "ui_group",
        "name": "Container Umidità",
        "tab": "8bf634a2.e5bcb8",
        "order": 4,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "b3b3294e.d41038",
        "type": "ui_group",
        "name": "Container Clock",
        "tab": "8bf634a2.e5bcb8",
        "order": 1,
        "disp": false,
        "width": 2,
        "collapse": false
    },
    {
        "id": "426db48c.22327c",
        "type": "ui_group",
        "name": "Container grafico",
        "tab": "8bf634a2.e5bcb8",
        "order": 5,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "77baa91f.8c3638",
        "type": "ui_group",
        "name": "Container lista eventi calendario",
        "tab": "8bf634a2.e5bcb8",
        "order": 3,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "8bf634a2.e5bcb8",
        "type": "ui_tab",
        "name": "Casa cervignano",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "1217d659.32444a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 52,
                "sy": 52,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b783eb8f.f0a1c8",
        "type": "google-credentials",
        "displayName": "Google"
    },
    {
        "id": "c7c74002.9bde9",
        "type": "mui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "m-base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "m-page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "m-page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "m-page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "m-group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "m-widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "m-widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b853c5bf.2f72f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "77baa91f.8c3638",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d4e954f.ace138",
        "type": "rpi-dht22",
        "z": "91b55355.fcef2",
        "name": "",
        "topic": "DHT2201",
        "dht": "22",
        "pintype": "2",
        "pin": "4",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "770df520.e7bc6c",
                "6cd43e6d.a80ff",
                "f7019f28.ad4e",
                "d9c976f.a230f88"
            ]
        ]
    },
    {
        "id": "bd4e39.8c4fa1c8",
        "type": "inject",
        "z": "91b55355.fcef2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "8d4e954f.ace138"
            ]
        ]
    },
    {
        "id": "a99c4649.361b38",
        "type": "rpi-gpio out",
        "z": "91b55355.fcef2",
        "name": "",
        "pin": "33",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "269b3b20.4e3464",
        "type": "ui_switch",
        "z": "91b55355.fcef2",
        "d": true,
        "name": "",
        "label": "Caldaia on/off",
        "tooltip": "",
        "group": "1776b33c.bc81ad",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 940,
        "y": 200,
        "wires": [
            [
                "a99c4649.361b38"
            ]
        ]
    },
    {
        "id": "eb9016c9.42c808",
        "type": "GetEvent",
        "z": "91b55355.fcef2",
        "google": "b783eb8f.f0a1c8",
        "calendarId": "9o5g8erckkcckp509hvg81ar08@group.calendar.google.com",
        "time": "01/30/2021 12:00 AM - 01/30/2021 11:59 PM",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "ca7177ee.a85d88"
            ]
        ]
    },
    {
        "id": "d6d81837.cfce98",
        "type": "inject",
        "z": "91b55355.fcef2",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "2d539464.c8981c"
            ]
        ]
    },
    {
        "id": "ca7177ee.a85d88",
        "type": "function",
        "z": "91b55355.fcef2",
        "name": "",
        "func": "node.warn(msg)\nif(msg.payload.length > 1){\n    return node.send({payload:true})\n}\nreturn node.send({payload:false})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "a99c4649.361b38",
                "269b3b20.4e3464"
            ]
        ]
    },
    {
        "id": "2d539464.c8981c",
        "type": "function",
        "z": "91b55355.fcef2",
        "name": "",
        "func": "msg.payload = {\n    timemax: new Date().getTime()+60*1000,\n    timemin: new Date().getTime()\n}\n\nmsg.calendarId = 'a44cn24vlebdc0k9r0rkrvl3ec@group.calendar.google.com'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "eb9016c9.42c808"
            ]
        ]
    },
    {
        "id": "770df520.e7bc6c",
        "type": "ui_gauge",
        "z": "91b55355.fcef2",
        "name": "",
        "group": "fd00254e.6bb6b8",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "",
        "label": "°c",
        "format": "{{value}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "6cd43e6d.a80ff",
        "type": "ui_gauge",
        "z": "91b55355.fcef2",
        "name": "",
        "group": "fd00254e.6bb6b8",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "",
        "label": "%",
        "format": "{{msg.humidity}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#d9b3ff",
            "#a650fb",
            "#8000ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "6606f8fc.587588",
        "type": "ui_template",
        "z": "91b55355.fcef2",
        "group": "b3b3294e.d41038",
        "name": "",
        "order": 1,
        "width": 2,
        "height": 2,
        "format": "<iframe src=\"https://24timezones.com/free-clocks/get-code-analog?location=c1257&size=100&bgcolor=FF9900&language=it&anchor_text=&user_website=&preview=1\" style=\"border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"120px\" width=\"auto\" allowfullscreen></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "91aaa937.5f2af8",
        "type": "ui_chart",
        "z": "91b55355.fcef2",
        "name": "",
        "group": "426db48c.22327c",
        "order": 1,
        "width": 3,
        "height": 2,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH",
        "interpolate": "bezier",
        "nodata": "Temperatura",
        "dot": true,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b42444.5a68c8",
        "type": "ui_template",
        "z": "91b55355.fcef2",
        "group": "77baa91f.8c3638",
        "name": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 840,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb19d55.6fb29",
        "type": "GetEvent",
        "z": "91b55355.fcef2",
        "google": "b783eb8f.f0a1c8",
        "calendarId": "9o5g8erckkcckp509hvg81ar08@group.calendar.google.com",
        "time": "01/30/2021 12:00 AM - 01/30/2021 11:59 PM",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "4dcab3d1.52eb0c"
            ]
        ]
    },
    {
        "id": "8b038160.81481",
        "type": "inject",
        "z": "91b55355.fcef2",
        "name": "",
        "props": [
            {
                "p": "payload.timemax",
                "v": "",
                "vt": "date"
            },
            {
                "p": "payload.timemin",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "2e993a97.278f76"
            ]
        ]
    },
    {
        "id": "2e993a97.278f76",
        "type": "function",
        "z": "91b55355.fcef2",
        "name": "",
        "func": "msg.payload = {\n    timemax: new Date().getTime()+24*60*60*1000,\n    timemin: new Date().getTime()\n}\n\nmsg.calendarId = 'a44cn24vlebdc0k9r0rkrvl3ec@group.calendar.google.com'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "eeb19d55.6fb29"
            ]
        ]
    },
    {
        "id": "4dcab3d1.52eb0c",
        "type": "function",
        "z": "91b55355.fcef2",
        "name": "",
        "func": "if(msg.payload.length > 1){\n    var container = []\n    msg.payload.forEach((item)=>{\n        if(item.Title != undefined){\n            container.push(`<p>${item.Title} - ${item.StartDate.split(' ')[1]} -> ${item.EndDate.split(' ')[1]}</p>`)\n        }\n    })\n    return {\"payload\": container}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "d5b42444.5a68c8"
            ]
        ]
    },
    {
        "id": "f7019f28.ad4e",
        "type": "function",
        "z": "91b55355.fcef2",
        "name": "",
        "func": "var count = global.get('count') || 0\n\nnode.log(count, false)\n\ncount++;\n\nglobal.set('count', count)\n\nif(count % 10 == 0){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "91aaa937.5f2af8",
                "d9c976f.a230f88"
            ]
        ]
    },
    {
        "id": "d9c976f.a230f88",
        "type": "debug",
        "z": "91b55355.fcef2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "fe4f2409.a652d8",
        "type": "comment",
        "z": "91b55355.fcef2",
        "name": "",
        "info": "Orologio in IFRAME",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "221835a4.75e5ea",
        "type": "ui_svg_graphics",
        "z": "91b55355.fcef2",
        "group": "77baa91f.8c3638",
        "order": 3,
        "width": 1,
        "height": 1,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" id=\"圖層_1\" x=\"0\" y=\"0\" viewBox=\"0 0 100 100\" xml:space=\"preserve\"><g><path d=\"M41.6 91.6c-7.3-1.4-15-5.7-19.9-11s-6.4-13.1-2.6-18.9c1.2-1.8 2.9-3.5 3.8-5.4 2.5-5.1-.5-11.1.5-16.6 1.2-6.3 7.4-10.9 13.2-14.8-.9 3.2.5 6.8 3.4 8.9.8.6 1.8 1.1 2.8.9.7-.1 1.3-.5 1.8-.9 3.2-2.6 4.6-6.5 4.5-10.3-.1-3.8-1.5-7.5-3.2-11-.6-1.2-2-3.4-2.7-5 1.3-.1 4.8 1.1 5.8 1.4 8.6 2.8 15.8 8.7 19.5 16.1 3.7 7.4 3.8 16 .4 23.4-1.5 3.3-3.7 6.3-4.3 9.8-.1.6-.2 1.3.1 1.9.9 2.1 4.4 1.9 6.7.9 3.2-1.5 5.9-4 7.4-6.9 4.7 6.6 5.6 15.1 2.3 22.2S70.4 88.9 61.9 91c-7.5 1.7-13 2-20.3.6z\" fill=\"#e15b64\"/></g><path d=\"M49.2 55.9c-6.4 3.4-10.7 9.9-10.7 17.4 0 1.9.3 3.8.8 5.5 2.9 9.5 16.9 9.5 19.7 0 .5-1.8.8-3.6.8-5.5.1-7.5-4.2-14-10.6-17.4z\" fill=\"#f8b26a\"/><metadata xmlns:d=\"https://loading.io/stock/\"><d:name>fire</d:name><d:tags>flame,flare,burn,scorch,fire,weather</d:tags><d:license>pro</d:license><d:slug>4gk7gh</d:slug></metadata></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "name": "",
        "x": 340,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "63dcf19e.470b7",
        "type": "inject",
        "z": "91b55355.fcef2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "8d4e954f.ace138"
            ]
        ]
    }
]
